# Python
__pycache__/
*.py[cod]

# Virtual environment
.venv/

# Environment
.env

# ML models
app/ml/models/*.onnx
app/ml/models/*.onnx.data
app/ml/models/*.pt
app/ml/models/*.pth
app/ml/models/*.bin
app/ml/models/*.jit
app/ml/models/*.ckpt
app/ml/models/ecapa_cache/

# IDE
.vscode/
.idea/

# Testing
.pytest_cache/
.coverage

# OS
.DS_Store
Thumbs.db